.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    background-color: white;
    width: 600px;
    margin: 120px auto;
    border-radius: 4px;
    overflow: hidden;
}

/* Header */
.modal-header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
}

/* Body */
.modal-body {
    padding: 15px;
    position: relative; /* IMPORTANT for positioning X */
}

/* Close button bottom-right */
.close-modal {
    position: absolute;
    right: 10px;
    bottom: 10px;

    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
}
